/**
	Printed page
*/
@media print{  

	.no-print {
		display:none !important;;
	}
	.print {
		display:block !important;
	}   
	.print-block {
		display:block !important;
	}  
	.print-inline {
		display:inline !important;
	} 
	.print-full-width {
		width:100% !important;
		padding:0 !important;
	}

	h1 {
	}
	h2 {
	}
	
	
}
